@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;

  font-family: "Open Sans";

  border: 0;
  background: 0;
}

body {
  font-family: "Open Sans";
  position: relative;
  min-height: 100vh;
  width: 100%;
  margin: 0;

  background-color: #0c2431;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  max-width: 400px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input {
  position: relative;
  margin-bottom: 14px;
}

.input button {
  cursor: pointer;
  position: absolute;
  top: 52%;
  right: 25px;
  width: 100%;
  max-width: 30px;
  height: 27px;

  border: 0;
  border-radius: 4px;
  transform: translateY(-50%);
}

.input button svg {
  width: 20px;
  height: 18px;
}

.input input {
  display: inline-flex;
  width: 100%;
  min-height: 54px;
  padding: 15px 65px 16px 20px;

  color: #fff;
  font-size: 20px;

  border: 0;
  border-radius: 30px;
  border: 2px solid #0000;
  background-color: #194a50;
}

.input input::placeholder {
  color: #e6e6e6;
}

.groups {
  display: flex;
  column-gap: 8px;
  margin-bottom: 20px;
}

.group {
  padding: 4px 12px;
  background-color: #e1dad2;
  border-radius: 6px;

  font-size: 16px;
}

.group-add-input {
  max-width: 100px;
  border: 0;
  outline: 0;
  background-color: #e1dad2;
}

.group-completed {
  color: #fff;
  background-color: #d37556;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.input input:focus {
  outline: 0;
}

.input input:focus::placeholder {
  color: transparent;
}

.sort {
  margin-bottom: 6px;
  align-self: flex-end;
}

.sort span {
  margin-right: 8px;

  color: #fff;
}

.sort select {
  cursor: pointer;
  padding: 4px 8px;

  font-size: 14px;

  border: 0;
  border-radius: 8px;
  background-color: #e1dad2;
}

.sort select:focus {
  outline: 0;
}

.tasks {
  margin-top: 0;
  max-height: 400px;
  margin-bottom: 50px;
  padding: 0;
  display: flex;
  row-gap: 5px;
  flex-direction: column;
  overflow: auto;
}

.tasks li {
  position: relative;
  list-style: none;
  background-color: #1c3441;
  border-radius: 8px;
}

.tasks li.item--completed {
  background-color: #4b6370;
}

.tasks__label {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 14px 28px 14px 12px;
  column-gap: 20px;
  cursor: pointer;
}

.tasks__actions {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 14px;
  right: 10px;
}

.tasks__actions svg {
  cursor: pointer;
  fill: #fff;
  transition: all 0.3s ease;
}

.edit-svg {
  margin-bottom: 10px;
  width: 18px;
  height: 26px;
}

.edit-svg:hover {
  fill: #17c0dc;
}

.trash-svg {
  margin-left: 2px;
  width: 13px;
  height: 18px;
  fill: rgba(92, 92, 92, 0.65);
}

.trash-svg:hover {
  fill: rgb(255 54 54 / 77%);
}

.tasks li input[type="checkbox"] {
  display: none;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.tasks h3 {
  margin-bottom: 6px;

  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}

.item--completed h3 {
  text-decoration: line-through;
}

.item--completed h3,
span {
  color: #acacac;
}

.item--completed svg {
  fill: #acacac;
}

.tasks__content {
  max-width: 320px;
}

.tasks__descr {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4px;

  color: #fff;
  font-size: 12px;
}

.tasks__date {
  /* margin-top: 8px; */
  display: flex;
  position: relative;
  align-items: center;
  column-gap: 5px;
}

.tasks__date svg {
  margin-top: 1px;
  width: 8px;
  height: 9px;
  fill: #fff;
}

.tasks__label:before {
  content: "";
  display: inline-block;
  position: relative;
  min-width: 20px;
  margin-top: 5px;
  height: 18px;
  padding: 5px;
  cursor: pointer;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.tasks li input[type="checkbox"]:checked + .tasks__label:before {
  background-color: #3b73de;
}

.tasks li input[type="checkbox"]:checked + .tasks__label:after {
  content: "";
  display: block;
  position: absolute;
  top: 21px;
  left: 19px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.completed button {
  margin-bottom: 20px;
  cursor: pointer;
  display: inline-flex;
  padding: 7px 20px 7px;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  color: #fff;
  font-size: 17px;
  font-weight: 700;

  border-radius: 12px;
  background: #22ab00;
}

.completed button svg {
  width: 10px;
  height: 6px;
}

.reset {
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  padding: 4px 20px 8px;

  color: #000;
  font-weight: 500;

  border-radius: 8px;
  background-color: #d6d6d6;
  transition: all 0.3s ease;
}

.reset:hover {
  background-color: #cdcdcd;
}
